# vscode
.vscode

# Mac
.DS_Store
._.DS_Store

# Jupyter
.ipynb_checkpoints

# python
*.pyc
*.pro
*.pyd
*.pyi
*~
__py
__pycache__

# image
images/dogs_efficient_sam_vitt_mask.png
images/dogs_efficient_sam_vits_mask.png
log/

# weights
weights/saved_model/efficient_sam_vits/
